// Visibility
// ----------

// Hide for Small
.hide-for-small {
    display: none;
    @media only screen and (min-width: $screen-xsmall) {
        display: block;
    }
}
// Hide for Medium
.hide-for-medium {
    display: none;
    @media only screen and (min-width: $screen-medium) {
        display: block;
    }
}
// Hide for Large 
.hide-for-large {
    display: none;
    @media only screen and (min-width: $screen-large) {
        display: block;
    }
}
// Hide for Xlarge
.hide-for-xlarge {
    display: none;
    @media only screen and (min-width: $screen-xlarge) {
        display: block;
    }
}
// Show for Small
.show-for-small {
	display: block;
	@media only screen and (min-width: $screen-xsmall) {
        display: none;
    }
}
// Show for Medium
.show-for-medium {
    display: block;
    @media only screen and (min-width: $screen-medium) {
        display: none;
    }
}
// Show for Large
.show-for-large {
    display: block;
    @media only screen and (min-width: $screen-large) {
        display: none;
    }
}
// Show for Xlarge
.show-for-xlarge {
    display: block;
    @media only screen and (min-width: $screen-xlarge) {
        display: none;
    }
}